substitutions:
  name: "REQUIRED"
  area: "REQUIRED"
  encryption_key: ""
  ota_password: ""
  sources: []

esphome:
  name: "${name}"
  friendly_name: "${area} Heat Pump"
  area: "${area}"

  project:
    name: "tinwer.mahtanarm"
    version: "1.4"

esp32:
  board: esp32-c3-devkitc-02
  framework:
    type: esp-idf

# Load the mitsubishi_itp component from the repo
external_components:
  - source: github://muart-group/esphome-components@main
    components: [ mitsubishi_itp ]

logger:
  baud_rate: 115200
  level: INFO

# Enable Home Assistant / ESPHome API
api:
  encryption:
    key: ${encryption_key}

# Enable ota updates
ota:
  platform: esphome
  password: ${ota_password}

# Define UARTs connected to heat pump and thermostat
uart:
  - id: hp_uart
    baud_rate: 2400 # For some equipment this may need to be 9600
    parity: EVEN
    rx_pin:
      number: GPIO1
    tx_pin:
      number: GPIO0

# Define mitsubishi_itp climate component
climate:
  - platform: mitsubishi_itp
    id: climate_sensor
    name: "Climate"
    uart_heatpump: hp_uart
    update_interval: 6s # This should be a relatively safe default, but can be adjusted if desired

# This default configuration includes all the common sensors, but these can each be commented out if your 
# equipment doesn't support them or they are not needed.

binary_sensor:
  - platform: mitsubishi_itp
    defrost:
      # Reports if system is in defrost
      id: defrost_sensor
      name: "Defrost"
    filter_status:
      # Reports if filter needs to be replaced (false = OK)
      name: "Filter Status"
    isee_status:
      # Reports if i-see is enabled
      name: "i-see Status"
    preheat:
      # Reports if system is preheating
      id: preheat_sensor
      name: "Preheat"
    standby:
      # Reports if system is in standby
      id: standby_sensor
      name: "Standby"
    using_internal_temperature:
      # Reports if system is using internal temperature sensor
      id: using_internal_temperature_sensor
      name: "Internal Sensor"

sensor:
  - platform: mitsubishi_itp
    compressor_frequency:
      # Frequency in Hz of compressor (only some equipment)
      name: "Compressor Frequency"

    # Not available on these units, apparently
    # outdoor_temperature:
    #   # Outdoor temperature as reported by equipment
    #   name: "Outdoor Temperature"

    # Only available if a thermostat is connected
    # thermostat_temperature:
    #   # Temperature reported by thermostat
    #   name: "Thermostat Temperature"

text_sensor:
  - platform: mitsubishi_itp
    actual_fan:
      # Actual current fan speed (vs. set speed)
      name: "Actual Fan"
    error_code:
      # Reports diagnostic error code
      name: "Error Code"
  - platform: template
    name: "Actual Source"
    update_interval: 5s
    lambda: |-
      if (id(using_internal_temperature_sensor).has_state() && id(using_internal_temperature_sensor).state) {
        return std::string("Internal");
      }

      if (id(temperature_source_select).has_state()) {
        return std::string(id(temperature_source_select).current_option());
      }

      return std::string("Unknown");
  - platform: template
    name: "Status"
    id: status
    update_interval: 2s
    lambda: |-
      if (id(standby_sensor).state) {
        return std::string("Standby");
      }
      if (id(defrost_sensor).state) {
        return std::string("Defrosting");
      }
      if (id(preheat_sensor).state) {
        return std::string("Pre-heating");
      }

      if (!id(climate_sensor).has_state()) {
        return std::string("Unknown");
      }

      switch (id(climate_sensor).action) {
        case climate::CLIMATE_ACTION_OFF:
          return std::string("Off");
        case climate::CLIMATE_ACTION_COOLING:
          return std::string("Cooling");
        case climate::CLIMATE_ACTION_HEATING:
          return std::string("Heating");
        case climate::CLIMATE_ACTION_DRYING:
          return std::string("Drying");
        case climate::CLIMATE_ACTION_IDLE:
          return std::string("Idle");
        case climate::CLIMATE_ACTION_FAN:
          return std::string("Fan Only");
        default:
          return std::string("Other");
      }

button:
  - platform: mitsubishi_itp
    filter_reset_button:
      # Resets the change-filter warning when pressed
      name: "Filter Reset"

select:
  - platform: mitsubishi_itp
    temperature_source:
      id: temperature_source_select
      name: "Temperature Source"
      sources: ${sources}
  - platform: mitsubishi_itp
    vane_position:
      # Controls vertical vanes on supported units
      name: "Vane Position"
    horizontal_vane_position:
      # Controls horizontal vanes on supported units
      name: "H. Vane Position"
      
light:
  - platform: status_led
    name: "Status LED"
    pin:
      number: GPIO08
      inverted: true
      ignore_strapping_warning: true
    internal: true
